body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
}

header {
    background-color: #8b4513;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.post {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


button, .write-button, .edit-button, .modifyButton, .deleteButton, .upload-button {
    background-color: #8b4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .write-button:hover, .edit-button:hover, .modifyButton:hover, .deleteButton:hover, .upload-button:hover {
    background-color: #6a3817;
}

.post h2 {
    color: #333;
    font-size: 24px;
}

.post p {
    color: #666;
    font-size: 16px;
}


textarea, input[type="text"] {
    font-weight: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}