<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Image Gallery</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .responsive-image {
            max-width: 100%;
            max-height: 300px; /* 최대 높이를 300px로 설정 */
            object-fit: contain; /* 이미지가 잘리지 않고 비율을 유지하면서 채워짐 */
            width: auto;  /* 원본 이미지의 너비를 유지 */
            height: auto; /* 원본 이미지의 높이를 유지 */
  }

    </style>
</head>
<body>
<h2>추천 영화 목록</h2>
<div class="gallery">

    <!-- 각 이미지 태그를 추가하세요 -->
    <img src="/good.jpg" alt="굿 윌 헌팅" class="responsive-image">
    <img src="/prada.jpg" alt="악마는 프라다를 입는다" class="responsive-image">
    <img src="/coco.jpg" alt="코코" class="responsive-image">


</div>
</body>
</html>
